Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type"

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^workouts$ controllers/workouts.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^workouts$ controllers/workouts.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^workouts/([0-9]+)$ controllers/workouts.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^workouts/([0-9]+)$ controllers/workouts.php?action=delete&id=$1

<IfModule mod_alias.c>
    RedirectMatch 403 favicon.ico
</IfModule>
